Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.exe
bin/Development/WindowsNoEditor/PlatformGameUdemy/Content/Paks/PlatformGameUdemy-WindowsNoEditor.pak
